{% extends 'admin_homepage_basic.html' %}

{% load static %}

{% block emp_image%}
    <img class="rounded-circle" src="/media/{{employee.photo}}" alt="..." width="100" height="100"><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">{{employee.first_name}} {{employee.last_name}}</font><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">Employee Id : {{employee.employee_id}}</font>
{% endblock %}


{% block content %}
<div style="background-color:white;margin-top:40px;margin-left:40px;margin-right:40px;padding:30px">

    <div style="padding-bottom:30px">
        <font style="font-family:Times New Roman; font-size:30px;">Add Employee</font>
    </div>
    {% for message in messages %}
            <font color="red" style="font-family:Times New Roman; font-size:20px;">{{message}}</font>
    {% endfor %}


<form name="add_employee" action="add_employee?action=add" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>Employee Id</label>
                <input type="text" class="form-control" name="emp_id" value="{{new_emp_id}}" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label>First Name</label>
                <font color="red" id="f_name"></font>
                <input type="text" class="form-control" id="first_name" name="first_name" onblur="validateForm('first_name')" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Last Name</label>
                <font color="red" id="l_name"></font>
                <input type="text" class="form-control" name="last_name" id="last_name" onblur="validateForm('last_name')" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>Email</label>
                <font color="red" id="msg_email"></font>
                <input type="text" class="form-control" id="email" name="email" onblur="validateForm('email')" required>
            </div>

            <div class="col-md-4 mb-3">
                <label>Department</label>
                <select class="form-control"  name="dept" required>
                    <option></option>
                    {% for dept in dept %}
                    <option>{{dept.dept_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label>Date of Birth</label>
                <input type="date" name="dob" class="form-control" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>City/Town</label>
                <i> (Alphabets only)</i>
                <input type="text" class="form-control" name="city" pattern="[A-Za-z ]*" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>State</label>
                 <i> (Alphabets only)</i>
                <input type="text" class="form-control" name="state" pattern="[A-Za-z ]*" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Country</label>
                 <i> (Alphabets only)</i>
                <input type="text" class="form-control"  name="country" pattern="[A-Za-z ]*" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>Mobile No</label>
                <font color="red" id="msg_mob"></font>
                <input type="tel" class="form-control" name="mob" id="mob" onblur="validateForm('mob')" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Aadhar Card</label>
                <font color="red" id="msg_aadhar"></font>
                <input type="text" class="form-control" id="aadhar_card" name="aadhar_card" onblur="validateForm('aadhar')" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Pan Card</label>
                <input type="text" class="form-control" name="pan_card" maxlength="15" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>Password</label>
                 <font color="red" id="msg_pwd"></font>
                <input type="text" class="form-control" name="pwd" id="pwd" onblur="validateForm('pwd')" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Status</label>
                <select class="form-control"  name="status" required>
                    <option></option>
                    <option>Active</option>
                    <option>Resigned</option>
                    <option>Left</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label>Photo</label>
                <input type="file" name="photo" class="form-control-plaintext" accept = "image/*" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px;padding-left:45%;padding-right:45%">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
</form>
</div>

<script src="{% static 'javascript/employee_validation.js' %}"></script>


{% endblock %}