{% extends 'admin_homepage_basic.html' %}

{% block emp_image%}
    <img class="rounded-circle" src="/media/{{employee.photo}}" alt="..." width="100" height="100"><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">{{employee.first_name}} {{employee.last_name}}</font><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">Employee Id : {{employee.employee_id}}</font>
{% endblock %}


{% block content %}

<div style="background-color:white;margin-top:40px;margin-left:40px;margin-right:40px;padding:30px">

    <div style="padding-bottom:30px">
        <font style="font-family:Times New Roman; font-size:30px;">Not Approved Leaves</font>
    </div>

<table class="table table-hover">
  <thead class="table-primary">
    <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Leave Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Leave Type</th>
        <th scope="col">Applied Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>

    </tr>
  </thead>

    {% for leave in leaves %}
        <tbody>
            <tr>
                <td>{{leave.employee_id}}</td>
                <td>{{leave.leave_id}}</td>
                <td>{{leave.first_name}}</td>
                <td>{{leave.last_name}}</td>
                <td>{{leave.leave_type}}</td>
                <td>{{leave.applied_date}}</td>
                <td><font color="red"><b>{{leave.status}}</b></font></td>
                <td><a class="btn btn-primary" href="leave_details?leave_id={{leave.leave_id}}&caller_id=4">View</a></td>
            </tr>
        </tbody>
    {% endfor %}

</table>


<div class="pagination" style="margin-left:70%;margin-right:5%">

    {% if leaves.has_previous %}
        <a class='btn btn-primary' href="?page=1">&laquo; first</a>
        <a class='btn btn-primary' href="?page={{ leaves.previous_page_number }}">previous</a>
    {% endif %}

    <span class="btn btn-secondary">
        Page {{ leaves.number }} of {{ leaves.paginator.num_pages }}
    </span>

    {% if leaves.has_next %}
        <a class='btn btn-primary' href="?page={{ leaves.next_page_number }}">next</a>
        <a  class='btn btn-primary' href="?page={{ leaves.paginator.num_pages }}">last &raquo;</a>
    {% endif %}

</div>
</div>



{% endblock %}