{% extends 'employee_homepage_basic.html' %}

{% block emp_image %}
    <img class="rounded-circle" src="/media/{{employee.photo}}" alt="..." width="100" height="100"><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">{{employee.first_name}} {{employee.last_name}}</font><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">Employee Id : {{employee.employee_id}}</font>
{% endblock %}

{% block content %}
<div style="background-color:white;margin-top:40px;margin-left:40px;margin-right:40px;padding:30px">

    <div style="padding-bottom:30px" >
        <font style="font-family:Times New Roman; font-size:30px; ">Leaves History</font>
    </div>

    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Leave Id</th>
                <th scope="col">Leave Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>


        {% for leave in leaves %}
        <tbody>
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{leave.leave_id}}</td>
                <td>{{leave.leave_type}}</td>
                <td>{{leave.leave_start_date}}</td>
                <td>{{leave.leave_end_date}}</td>
                <td>{{leave.description}}</td>
                <td>{% if leave.status == 'Approved' %}
                    <font color="green"><b>{{leave.status}}</b></font>
                    {%else%}
                    <font color="red"><b>{{leave.status}}</b></font>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}

</table>


</div>
{% endblock %}