{% extends 'admin_homepage_basic.html' %}

{% block emp_image%}
    <img class="rounded-circle" src="/media/{{employee.photo}}" alt="..." width="100" height="100"><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">{{employee.first_name}} {{employee.last_name}}</font><br>
    <font color="black" style="font-family:Times New Roman; font-size:20px;">Employee Id : {{employee.employee_id}}</font>
{% endblock %}


{% block content %}

<div style="background-color:white;margin-top:10%;margin-left:20%;margin-right:20%;padding:40px">
    <form action="take_action" method="post">
        {% csrf_token %}

        {% for message in messages %}
            <font color="red" style="font-family:Times New Roman; font-size:20px;">{{message}}</font>
        {% endfor %}

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-4 mb-3">
                <label>Leave Id</label>
                <input type="text" class="form-control" name="leave_id" value="{{leave_id}}" readonly>
            </div>
        </div>

        <div class="form-group" style="padding-top:20px">
            <label>Select Action</label>
            <select class="form-control"  name="action" required>
                <option></option>
                <option>Approved</option>
                <option>NA</option>
            </select>
        </div>

        <div class="form-row" style="padding-top:20px">
            <div class="col-md-12 mb-3">
                <label>HR Comments</label>
                <input type="text" class="form-control" name="comments" required>
            </div>
        </div>

        <div class="form-row" style="padding-top:20px">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="display_dashboard" class="btn btn-primary" style="margin-left:20px">Back To Dashboard</a>

        </div>

    </form>
</div>

{% endblock %}